[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-dotenv = "*"
mysqlclient = "*"

[dev-packages]
autopep8 = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-dotenv = "*"

[requires]
python_version = "3.10"
